* {
    margin: 0%;
    padding: 0%;
  }
h1, h2, h3, p, label, input, a,b {
    font-family: "Space Mono", monospace;
  }

html{
    background-color: rgb(255, 255, 255);

}

nav ul li a{
    text-decoration: none;
    margin: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(219, 255, 243);

}
nav ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    
}

.listaFiltros{
    margin: 10px;
}

header{
    background-color: black;
    padding: 10px;
    position: sticky;
    top: 0px;
}
main{
    margin: 10px;
}

.catalogo{
    margin: 20px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card p, .card button, .card b{
    padding: 5px;
    text-align: center;
}

.card{
    width: 260px;
    height: 320px;
    border: 1px black solid;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 1rem 0px rgba(70, 70, 70, 0.712) ;
}

.anadirCarrito{
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 30px;
    margin: 0; 
}

.listaCarrito{
    margin: 5px 10px 5px 10px;
}

.tituloCarrito{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 5px 0px 5px;
    border: 1px solid rgba(53, 53, 53, 0.541);
    margin: 10px 10px 0px 10px;
    padding: 5px;
}

.cardCarrito{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 5px 0px 5px;
    border: 1px solid rgba(53, 53, 53, 0.541);
    padding: 5px;
}

.calcTotal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 5px 0px 5px;
    border: 1px solid rgba(53, 53, 53, 0.541);
    margin: 0px 10px 50px 10px;
    padding: 5px;
}